<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrudeFBV By Rahul</title>
    <link rel="stylesheet" href="{% static 'UserApp/css/bootstrap.min.css' %}">
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center alert alert-danger">Django User Authentication Frame Work SignUp Login Logout Change Password</h1>
            {% block content %}

            {% endblock content %}
    </div>

<script src="{% static 'UserApp/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'UserApp/js/popper.min.js' %}"></script>
<script src="{% static 'UserApp/js/bootstrap.min.js' %}"></script>

    
</body>
</html>