



{% extends 'UserApp/base.html' %}
{% block content %}


<div style="color: rgb(255, 30, 0);background-color: rgb(28, 147, 168);" class="container border p-4 rounded col-4 mt-4">
    <form action="" class="px-4 py-3" method="POST">
        <h1 style="color: rgb(124, 0, 128);" class="text-center">Login</h1>
        {% csrf_token %}
        {% if forms.non_field_errors %}

        {% for error in forms.non_field_errors %}
        <p class="err">{{error}}</p>
        {% endfor %}
        {% endif %}
      <div class="form-group">

        {% for fm in forms %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
      </div>
    
      <button type="submit" class="btn btn-primary">Sign in</button>
    
    </form>

    {% if messages %}
    {% for msg in messages %}
    <small {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</small>
    {% endfor %}
    {% endif %}
    <div class="dropdown-divider"></div>

    <a class="dropdown-item" href="{% url 'SignUp' %}">SignUp</a>
    <a class="dropdown-item" href="{% url 'ChangedPassword' %}">ChangedPassword</a>
  </div>

  {% endblock %}




